body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 1in;
    height: 1in;
    border-radius: 50%;
    margin-right: 20px;
    animation: imageEntranceAnimation 1s ease-in-out;
}

.intro-container {
    text-align: left;
}

h1 {
    font-size: 36px;
    animation: greetingAnimation 1s ease-in-out;
}

.introduction {
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnimation 4s steps(40) forwards;
}

#hobbies {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hobby-list {
    list-style: none;
    padding: 0;
}

.hobby-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hobby-list i {
    margin-right: 10px;
}

#hobbies h2 {
    color: #3498db;
}

#school-life {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.school-life-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.school-life-text i {
    margin-right: 10px;
}

#school-life h2 {
    color: #3498db;
}

#motto {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#motto h2 {
    color: #3498db;
}

.motto-list {
    list-style: none;
    padding: 0;
}

@keyframes greetingAnimation {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes typingAnimation {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes imageEntranceAnimation {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
